/*
STUDENT:
THE BELOW FILE IS A BASIC RESPONSIVE GRID.  IT WORKS BY ESTABLISHING ROWS AND COLUMNS.  ALL COLUMNS MUST BE INSIDE OF
A ROW IN YOUR HTML. YOU MOST LIKELY WILL NOT NEED TO EDIT THE CODE BELOW VERY MUCH.
KEEP YOUR SITE LAYOUT STYLES IN "STYLE.CSS"
*/

/*
THE BELOW RULE CAUSES PADDING AND BORDER TO NOT AFFECT THE WIDTH OF BLOCK LEVEL ELEMENTS.  THE "*" SELECTOR
MEANS "TARGET ALL ELEMENTS".  IE8+
*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*
CLEAR FLOATED ELEMENTS.
*/
.row, .cf {
  overflow: hidden;
}

.row {

}

/*
THE BELOW "[class*='col-']" SELECTOR WILL TARGET ALL CLASSES THAT HAVE "COL-" IN THEM AND FLOAT THEM LEFT.
ADD PADDING HERE TO CONTROL GUTTER BETWEEN COLUMNS
*/
[class*='col-'] {
  float: left;
  padding: 0;
  min-height: 10px;
  position:relative;
}

/*
PERCENTAGE COLUMN GRID CLASSES BELOW.  THINK OF THESE AS "ONE HALF" OR "ONE THIRD" OR "ONE FIFTH".  THE NUMBER
OF COLUMNS IN A ROW MUST ADD UP TO ONE.  FOR INSTANCE, YOU NEED TWO "COL-1-2" IN A ROW.  OR YOU NEED
FOUR "COL-1-4" IN A ROW. OR ONE "COL-1-3" AND ONE "COL-2-3".  THINK ABOUT IT.
*/
.col-1-1 {
  width: 100%;
}

.col-1-2 {
  width: 50%;
}

.col-1-4 {
  width: 25%;
}

.col-1-5 {
  width: 20%;
}

.col-2-5 {
  width: 40%;
}

.col-3-5 {
  width: 60%;
}

.col-4-5 {
  width: 80%;
}

.col-3-4 {
  width: 75%;
}

.col-1-3 {
  width: 33.33%;
}

.col-2-3 {
  width: 66.66%;
}

/*
THIS WILL MAKE IMAGES AND IFRAMES "RESPONSIVE".  THEY'LL NEVER POP OUTSIDE OF THEIR ROW OR CONTAINING
ELEMENT.  DON'T USE THIS AS A REPLACEMENT FOR SIZING YOUR IMAGES PROPERLY THOUGH.  REMEMBER YOUR FILE
SIZE IS IMPORTANT ON THE WEB.
*/
img, iframe {
  max-width: 100%;
  height: auto;
}
